[submodule "submodules/triton"]
	path = submodules/triton
	url = https://github.com/triton-lang/triton.git
[submodule "submodules/vision"]
	path = submodules/vision
	url = https://github.com/pytorch/vision.git
